.c-action-btn {
    z-index: 2;
    &--on-hover {
        background: #ececec;
        box-shadow: 3px 0 8px -4px #888;
        border-right: 1px solid #d0d0d0;
    }
    &__label {
        float: left;
        padding: 7px 10px;
        border-right: 1px solid #d0d0d0;
        margin-bottom: 0;
    }

    > a,
    > button {
        padding: 5px 10px;
        &:hover,
        &:focus {
            background-color: $gray-light;
            color: $white;
        }
    }
}