

.custom-btn-group {
    width: 200px;
    &__item {
        // background-color: red;
        &:first-of-type {
            label {
                border-top-left-radius: 20px!important;
                border-bottom-left-radius: 20px!important;
                // border-right: 0;
            }
        }
        &:last-of-type {
            label {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border-left: 0;
            }
        }
        label {
            padding: 7px 12px;
            background-color: $gray-lighter;
            font-weight: 600;
            color: $gray-light;
        }
        >input {
            +label {
                border: 1px solid $gray-light;
                // background-color: blue;
                // border-right: 0;
                text-transform: capitalize;
                text-align: center;
                &:hover {
                    color: $gray-light;
                    background-color: lighten($gray-light, 30%);
                }
            }

            &:checked+label {
                &[for="item-one"] {
                    color: $white;
                    background-color: $brand-success;
                    border-color: $brand-success;
                }
                &[for="item-two"] {
                    color: $white;
                    background-color: $brand-danger;
                    border-color: $brand-danger;
                }
            
            }
        }
    }
}

.has-error {
    .btn-group {
        .btn {
            border-color: $state-danger-text;
        }
    }
}