$gray-base: #333;

.menu-button {
  background: none;
  border-radius: 0px;
  border: none;
  color: $gray-base;
  height: 50px;
  margin: 0px;
  min-height: 50px;
  min-width: 50px;
  padding: 16px 10px;
  width: 50px;
  align-self: center;
  transition: all 0.3s;
  &:hover,
  &:focus,
  &:active {
      outline: none;
  }
}

.menu-button.active {
  >.bar {
      background-color: transparent;
      transition: .2s;
  }
  >.bar:before {
      transform: rotate(45deg) translate(2px, 7px);
      transition: .3s;
      width: 24px;
      left: 2px;
  }
  >.bar:after {
      transform: rotate(-45deg) translate(1px, -7px);
      transition: .3s;
      width: 24px;
      left: 2px;
  }
}

.bar {
  background-color: $gray-base;
  width: 20px;
  height: 3px;
  margin: 6px auto;
  border-radius: 3px;
  display: block;
  position: relative;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.bar:before,
.bar:after {
  content: '';
  background-color: $gray-base;
  border-radius: 3px;
  width: 20px;
  height: 3px;
  margin: 6px auto;
  position: absolute;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.bar:before {
  top: -12px;
  left: 0px;
}

.bar:after {
  bottom: -12px;
  left: 0px;
}
